.container.create_event
  .form-group
    label(for="title") Event Title
    input.form-control(type="text", name="title", placeholder="What's your Event Title?", value=event.title)
  .form-group
    label(for="event") Description
    textarea.form-control(name="content", rows="5")

  .form-group
    label(for="event") Location
    textarea.form-control(name="location", rows="1")

  .form-group
    label(for="event") Organization
    textarea.form-control(name="Organization", rows="1")

  .form-group
    label(for="event") Organization Description
    textarea.form-control(name="orgDescription", rows="3")

  .row
    .col
      .form-group
        label(for="event") Start Date
        input.form-control(name="startDate", rows="1", type="date")
    .col
      .form-group
        label(for="event") Finish Date
        input.form-control(name="finishDate", rows="1", type="date")


  .form-group
    label(for="tags") Tags
    input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=event.tags ? event.tags.join(" ") : "")

  .row
    .col
      .form-group
          label(for="exampleSelect1") Event Categories
          select.form-control(name="categories")
            option 모임
            option 회의

    .col
      .form-group
          label(for="exampleSelect1") Event Area
          select.form-control(name="eventArea")
            option 여행
            option 공부
    .col
      .form-group.event-Fee
          label(for="exampleSelect1") Fee
          select.form-control(name="eventFee")
            option 무료
            option 유료
  .row
    .col
      .form-group.price
        label(for="event") 가격
        textarea.form-control(name="price", rows="1")
    .col
      .form-group.limitNum
        label(for="event") 제한인원수(미입력 시: 100)
        textarea.form-control(name="limitNum", rows="1")







