extends ../layout

block content
  .container
    h1.main-title New Event
    form(action="/events", method="POST")
      include _form
      button.btn.btn-outline-primary.create-btn(type="submit") Create Event


  //- script.
  //-   $(function() {
  //-     $('.form-group select').click(function() {
  //-       var selected = $('#eventFee option:selected').text()
  //-   	console.log(selected)
  //-     });
  //-   });
