extends layout
include ./includes/_paginate


block hero-unit
  .jumbotron
    .container


block content
  .container.main-card
    h1.home-main-title Events for you in Seoul, Republic of Korea.
    if events.total > 0
        .small Total #{events.total} Event(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
    .events
      each event in events.docs
        .event
          a.title(href=`/events/${event.id}`)= event.title
          include ./events/_card

    +paginate(events, '/events', {query: "???XXX&&"})
