extends layout
//- include ./includes/_mainPaginate


block hero-unit
  .jumbotron
    .container


block content
  .container.main-card
    h1.home-main-title Events for you in Seoul, Republic of Korea.
    if questions.total > 0
        .small Total #{questions.total} Event(s)

    if questions.total <= 0 
      .alert.alert-info No questions available yet
    else
    .questions
      each question in questions.docs
        .question
          a.title(href=`/questions/${question.id}`)= question.title
          include ./questions/_card

      a.btn.btn.more-btn(href='/questions') 이벤트 더보기

    //- +paginate(questions, '/questions', {query: "???XXX&&"})
