extends layout
include ./includes/_paginate


block hero-unit
  .jumbotron
    .container


block content
    h1.main-title 
      | Events
      if questions.total > 0
        .small Total #{questions.total} Event(s)

    if questions.total <= 0 
      .alert.alert-info No questions available yet
    else
    .container
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            include ./questions/_card

      +paginate(questions, '/questions', {query: "???XXX&&"})
