extends ../layout

include ../includes/_paginate

block content
  .container

    h1.main-title 이벤트 모아보기
      if questions.total > 0
        .small Total #{questions.total} Event(s)

    if questions.total <= 0 
      .alert.alert-info 만든 이벤트가 없습니다.
    else
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            include _myquestion

      +paginate(questions, `/questions/myWirte/${user.id}`, {query: "???XXX&&"})
